.carrito  .producto{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    box-shadow: 4px 4px 8px var(--colorNegro);
 }
 .carrito  .nav-carrito{
    display: flex;
    justify-content: space-between;
 }

 .carrito section .back-carrito{
    display: flex;
    justify-content: left;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
 }
 .carrito section .back-carrito a{
    color: var(--colorNegro);
    text-decoration: none;
    font-size: 18px;
 }
 .carrito  section .tacho-carrito{
    display: flex;
    width: 30%;
    font-size: 30px;
    margin-right: 5px;
    padding: 5px;
    box-shadow: 4px 4px 8px var(--colorNegro);
}
.carrito  section .imagen-carrito{
    width: 30%;
    ;
}
.carrito  section .imagen-carrito img{
    width: 115%;
    margin: 55px 0;
    rotate: 90deg;
}
.carrito section .interaccion-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carrito  section .sumar-carrito{
    display: flex;
}
.carrito section .desc-carrito{
       text-align: center;
       font-size: 14px;
}
.carrito  section .sumar-carrito{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.carrito section .sumar-carrito input{
    width: 20%;
    text-align: center;

}
.carrito section .precio-tacho-carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
} 
.carrito section .sumar-carrito div{
    font-size: 16px;
    background-color: var(--colorVerdeOscuro);
    color: var(--colorBlanco);
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 30px;
    border-radius: 5px;
}
.carrito  .precio{
    display: flex;
    margin-right: 2px;
    font-size: 18px;
}
.carrito section .envio{
    margin-left: 7px;
}
.carrito section .envio .descuento-carrito{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 10px;
}
.carrito section .envio .descuento-carrito .total-descuento{
    color:var(--colorRojo) ;
    text-decoration:line-through;
    font-size: 18px;
}
.carrito section .envio .descuento-carrito .porcentaje-descuento{
    color: var(--colorVerdeSapito)
}
.carrito section article .suma-envio{
    display: flex;
   justify-content: space-between ;
   margin-top: 15px;
   margin-right: 20px;
   font-size: 14px;
}
.carrito section article .sin-envio{
    font-size: 12px;
    margin-top: 10px;
}
.carrito  .total .total-neto{
    box-shadow: 4px 4px 8px var(--colorNegro);
    font-size: 16px;
    border: 2px solid var(--colorVerdeOscuro);
    margin:10px 20px;
    display: flex;
    justify-content: space-between;
}
.carrito .boton-compra{
    color:var(--colorBlanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carrito .boton-compra article{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.carrito  .boton-compra article {
    color: var(--colorVerdeOscuro);
    
}


.carrito .boton-compra .comprar{
    box-shadow: 4px 4px 8px var(--colorNegro);
    background-color: var(--colorVerdeOscuro);
    color: var(--colorBlanco);
    width: 40%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 30%;
}
.carrito .boton-compra .comprar h2{
    display: flex;
    justify-content: center;
}
@media (min-width:426px){
    .carrito .producto{
        box-shadow: none;
    }
    .carrito section .imagen-carrito{
        box-shadow: 4px 4px 8px var(--colorNegro);
    }
    .carrito  section .desc-carrito{
        margin-top: 15px;
    }
    .carrito  section .sumar-carrito div{
        margin:5px;
    }
    .carrito  section .sumar-carrito input{
        width: 7%;
        height: 30px;
        
    }
    
    .carrito  .boton-compra p{
        font-size: 12px
    }
    .carrito section .interaccion-carrito{
        border-bottom: 2px solid var(--colorVerdeOscuro);
    } 
    .carrito .precio{
        margin-top: 10px;
    }
    .carrito .total .total-neto{
        border: 2px solid var(--colorVerdeOscuro);}
}




@media (min-width:769px){
    .carrito  .producto{
        display: flex;
        flex-direction:row;
        width: 95%;
        justify-content: space-around;
        margin: auto;
        border-top: 2px solid var(--colorVerdeOscuro);
     }
     .carrito main section .imagen-carrito img{
        width: 100%;

}
.carrito section .imagen-carrito{
    width: 45%;
    margin-top: 10px;

}
.carrito  section .tacho-carrito{
    position: relative;
    font-size: 40px;
    top: 90px;
    right: 30px;
}
.carrito section .desc-carrito{
    font-size: 14px;
    margin-top:90%;
    margin-left: 10px;
    height: 20px;
}
.carrito  section .sumar-carrito{
    margin-top: 30px;
    box-shadow:  2px 2px 2px 2px var(--colorVerdeOscuro);
}
.carrito  section .sumar-carrito input{
    width: 20%;
    height: 100%;
    margin-top: 7px;
    font-size: 14px;
   }
   .carrito  .producto .interaccion-carrito{
    margin-right: 10%;
    border-bottom: none;
    position: relative;
    bottom: 70px;
   }
   .carrito  .precio{
    margin-right: 50px;
    margin-bottom: 10px;
   }
   .carrito  .total{
    width: 80%;
    margin: auto;
    border-top: 2px solid var(--colorVerdeOscuro);
    border-bottom: 2px solid var(--colorVerdeOscuro);
   }
   .carrito .total .total-neto{
    border: 2px solid var(--colorGris);
    width: 50%;
    margin: 15px auto ;
   }
   .carrito  .boton-compra .comprar{
    margin-left: 30%;
   }
   .carrito  section .tacho-carrito{
    margin-top: 40px;
   }
   .carrito section .envio .descuento-carrito .porcentaje-descuento{
    color: var(--colorBlanco);
    background-color: var(--colorVerdeSapito);
    padding: 5px;
    border-radius: 5%;
}
.carrito  .precio{
    width: 90%;
}
}