
.crear .create-form{
    padding: 20px 15px;
}
.crear .control-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.crear .error{
    margin: 10px 0px 10px 0px;
    color: white;
    background-color: red;
    width: 20%;
}
.crear .control-formulario{
    margin-bottom: 15px;
}

.crear .control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.crear .control-formulario .control{
    width: 90%;
    padding: 8px 8px;
    box-shadow: 2px 2px 4px var(--colorVerdeOscuro);
}

.crear .boton-formulario{
    background-color: var(--colorVerdeOscuro);
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px
    
}
.crear .parrafo-form{
    padding: 12px;
}
.crear .control-formulario .texto{ 
    display: block;
    font-size: 1.5rem;    
    width: 100%;   
    height: 120px;
    margin-top: 5px;
    padding: 10px 5px;
    box-shadow: 2px 2px 4px var(--colorVerdeOscuro);      
}
.crear .control-formulario .imagen{   
    display: block;        
    font-size: 1.5rem;           
    width: 100%;   
    height: 70px;
    padding: 10px 5px;
    box-shadow: 2px 2px 4px var(--colorVerdeOscuro);        

}

/* Tablet */
@media(min-width:426px){ 
   
    .crear .control-formulario .control{
        max-width: 80%;
        box-shadow: 2px 2px 4px var(--colorVerdeOscuro);
    }
    .crear .control-formulario .texto{ 
        display: block;  
        font-size: 1.5rem;    
        max-width: 80%;       
        height: 120px;
        margin-top: 5px;
        padding: 10px 5px;
        box-shadow: 2px 2px 4px var(--colorVerdeOscuro);      
    }
    .crear .control-formulario .imagen{   
        display: block;         
        font-size: 1.5rem;     
        max-width: 80%;        
        height: 70px;
        padding: 10px 5px;
        box-shadow: 2px 2px 4px var(--colorVerdeOscuro);        
    
    }
    


    /* Desktop */
@media(min-width:769px){
    .crear .control-formulario .control{
        max-width: 40%;
        box-shadow: 2px 2px 4px var(--colorVerdeOscuro);
        font-size: 1.5rem;

    }
    .crear .titulo{
        text-align: center;
        font-size: 3rem;
    }
    .crear .saludo{
        text-align: center;
        font-size: 2.5rem;

    }
    .crear .control-formulario{
        font-size: 2rem;
    }
    .crear .create-form .boton-formulario{
        display: block;
        margin: 10px
    }
    .crear .control-formulario .texto{ 
        display: block;  
        font-size: 1.5rem;   
        margin: 0 auto; 
        max-width: 40%;       
        height: 120px;
        margin-top: 5px;
        padding: 10px 5px;
        box-shadow: 2px 2px 4px var(--colorVerdeOscuro);      
    }
    .crear .control-formulario .imagen{   
        display: block;         
        font-size: 1.5rem;     
        margin: 0 auto; 
        max-width: 40%;        
        height: 90px;
        padding: 10px 5px;
        box-shadow: 2px 2px 4px var(--colorVerdeOscuro);        
    
    }
    
}}