body {  
    font-family: var(--fuente-Fredoka);
    padding: 5%;
}



.detail-main .product-detail .img {
    width: 85%;
    box-shadow: 2px 2px 4px var(--colorVerdeOscuro);
    margin: 0 auto;
    margin-top: 10px;

}
.detail-main .precio{
    width: 85%;
    margin: 0 auto;
    font-size: 2.5rem;
}
.detail-main .precio span{
    color: rgb(190, 66, 66);
    text-decoration: line-through ;
}
.detail-main .precio small{
    color: rgb(66, 168, 66);
}
.detail-main img {
    width: 100%;
}

.detail-main .img h1 {
    width: 100%;
    font-size: 2.8rem;    
}
.detail-main .detail1{
    width: 85%;
    box-shadow: 2px 2px 4px var(--colorVerdeOscuro);
  
    margin: 0 auto;

}
.detail-main .detail1 h2 {
    font-size: 2rem;
    margin-top: 15px;
}

.detail-main .text-detail {
    font-size: 2rem;
   
   
}  


.detail-main .detail .precio {
    font-size: 3rem;
}



.detail-main .detail button {
    background-color: var(--colorVerdeOscuro);
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    padding: 2.5px;
    box-shadow: 2px 2px 4px black;
}

.detail-main .detail .sumar div {
    background-color:var(--colorVerdeOscuro);
    color: rgb(34, 9, 9);
    padding: 5px;
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    margin-top: 1%;
    box-shadow: 2px 2px 4px black

}

.detail-main .detail .sumar input {
    width:65px;
    margin-bottom: 5px;

}

.detail-main .sumar{
    width: 85%;
    display: flex;
    justify-content: center;
}
.detail-main .promotion{
    width: 85%;
    margin: 0 auto;
    box-shadow: 2px 2px 4px var(--colorVerdeOscuro);
    padding-bottom: 5px;
}

.detail-main .promotion aside {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.detail-main .img p {
    margin-top: 15px;
    font-size: 3rem;

}

.detail-main .promotion aside h3 {
    width: 100%;
    font-size: 2rem;
    margin-top: 30px;

}

.detail-main .promotion p {
    margin-top: 10px;
    font-size: 1.5rem;
}

.detail-main .icons-footer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;  
    position: relative;
}

/* Tablet */
@media(min-width:461px){ 
    body main .conteiner-detail div{
        width: 50%;
        
    }

    body main .conteiner-detail{
        display: flex;
        width: 85%;
        margin: 0 auto;
        flex-direction: row-reverse;
    }
    body main .conteiner-detail .detail{
        box-shadow: 2px 2px 4px var(--colorVerdeOscuro);
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    body main .conteiner-detail .detail .precio{
        margin-right: 12%;
    }
    body main .conteiner-detail .detail .sumar button{
        margin-bottom: 5px;
        font-size: 13px;
    }
    body main .conteiner-detail .detail .sumar div, input{
        height: 70%;
    }
    body main .conteiner-detail .detail .sumar input{
        width: 40%;
    }
    
}

/* Desktop */
@media(min-width:769px){
    body main{
        display: flex;
        flex-direction: column;
    }
    body main .detail-section{
        display: flex;
    }
    body main section .conteiner-detail{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding-top: 8%;
    }
    body main section .product-detail{
        width: 80%;
    }
    body main section .conteiner-detail .detail{
        width: 87%;
        height: 40%;
        margin-bottom: 60px;
    }
    
    body main section .conteiner-detail .detail1 .text-detail{
        width: 90%;
    }
    body main section .conteiner-detail .detail1{
        height: 30%;
    }
    body main section .conteiner-detail .detail1 .text-detail p{
        margin-bottom: 90px
    }
    body main .conteiner-detail .detail .sumar input{
        width: 12%;
        height: 100%;
    }
    body main .conteiner-detail .detail .sumar .button{
        margin-left: 90%;
    }
    body main .conteiner-detail .detail .sumar{
        font-size: 24px;
    }

    .detail-main .promotion aside article p{
        font-size: 18px;
    }
}


