body {
    background-color: #77ABAB;
    font-family: var(--fuente-Fredoka);
    padding: 20px;
}

.detail-header img {
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 380px;


}

.detail-main .product-detail .img {
    width: 100%;

}

.detail-main img {
    width: 100%;
}

.detail-main .img h1 {
    font-size: 3.5rem;

    flex-wrap: wrap;
}

.detail-main .detail1 h2 {
    font-size: 3rem;
    margin-top: 15px;
}

.detail-main .text-detail {
    font-size: 2rem;
}

.detail-main .img span {
    font-size: 24px;
    text-decoration: line-through;
}

.detail-main .detail .precio {
    font-size: 3rem;
}

.detail-main .img small {
    font-size: 24px;
    color: blue
}

.detail-main .detail button {
    background-color: rgb(44, 37, 87, 0.5);
    font-size: 1.5rem;
    color: black;
    border: none;
    border-radius: 5px;
    width: 120px;
}

.detail-main .detail .sumar-carrito div {
    background-color: aqua;
    color: rgb(34, 9, 9);
    padding: 5px;
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;

}

.detail-main .detail .sumar-carrito input {
    width: 50px;
}

.detail-main .sumar-carrito {
    width: 100%;
    display: flex;
}

.detail-main .promotion aside {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.detail-main .img p {
    margin-top: 15px;
    font-size: 3rem;

}

.detail-main .promotion aside h3 {
    width: 100%;
    font-size: 3rem;
    margin-top: 30px;

}

.detail-main .promotion p {
    margin-top: 10px;
    font-size: 1.5rem;
}

.detail-main .icons-footer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;  
    position: relative;
}

/* Tablet */
@media(min-width:461px)

/* Desktop */
@media(min-width:769px)


