@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@300;400;500;600;700&family=Inter:wght@100;300;400;500;700;900&family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: var(--fuente-Poppins);
}

body{
    min-width: 425px;
    background-color: white;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}