header{
    width: 100%;
    box-shadow: 2px 2px 4px black;
}

header .content-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

header .content-header .burger{

}

header .content-header .burger i{
    font-size: 2rem;
}

header .content-header .logo{
    width: 100%;
}

header .content-header .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .content-header .search{
    width: 45%;
}

header .content-header .search input{
    width:100%;
    padding: .8rem 0 .8rem 1rem;
    outline: none;
    border-radius: 5px;
    border: solid 1px var(--colorGris);
}
header .content-header .icons {
    font-size: 2rem;
    display: flex;
}

header .content-header .icons li{
    padding: .8rem;
}

header .content-header .nav-desktop{
    display:none;
}

header .content-header .nav-desktop ul li {}

header .content-header .nav-desktop ul li  a{}

 header img{
    padding: 10px;
    width: 50%;
} 
 header .top{
    display: flex;
    justify-content:space-around;
    justify-content: flex-start;
}
 

@media (min-width:425px){
    header .content-header .burger{
        display: none;
    }
    header .content-header .nav-desktop{
        display: block;
        width: 100%;
    }
    header .content-header .nav-desktop ul{
        display: flex;
        justify-content: space-between;
        border-top: solid 1px var(--colorGris);
    }
    header .content-header .nav-desktop ul li{
        padding: 1rem 0;
        width:20%;
        text-align: center;
    }
    header .content-header .nav-desktop ul li:hover{
        background-color: var(--colorVerdeOscuro);
    }
    header .content-header .nav-desktop ul li:hover a{
        color: var(--colorBlanco)
    }
}