header{
    width: 100%;
    box-shadow: 2px 2px 2px;
}

header .logo{
    width: 50%;
}
header img{
    padding: 10px;
    width: 75%;
}
header .top{
    display: flex;
    justify-content:space-around;
    justify-content: flex-start;
}
