header{
    width: 100%;
    box-shadow: 2px 2px 4px black;
    background-color: black/* var(--colorNegro) */;
}

header .content-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

header .content-header .burger{
    background-color: var(--colorBlanco);
    color: var(--colorVerdeOscuro);
}

header .content-header .burger i{
    font-size: 2rem;
}