header{
    padding:20px;
    box-shadow: 2px 2px 4px black;
    background-color: black/* var(--colorNegro) */;
}

.hamburguer-button .burger{
    background-color: var(--colorVerdeOscuro);
    color: var(--colorBlanco);
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}
.main-header-top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    font-size: 15px;


}

.logo{
    width: 180px;
}

.main-navbar{
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin:0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: var(--colorBlanco);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}






@media (min-width:769px){
    .main-header-top-bar{
        display: flex;/* estilos y media quieris sobre 768 px para tablet en header */
        justify-content: space-between ;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-button{
        display: none;
    }
    .main-navbar{/* ahor hacemos que se vea la barra */
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar  li{
        margin: 0 5px;
    }
}


@media(min-width:1200px){
    .logo{
        width:250px;
    }
    .main-header-top-bar,.main-navbar{
        max-width: 1200px;
        margin: 0 auto;
    }
    .main-header-top-bar{
        align-items:center ;
    }
    .copy-header{
        margin:0;
        max-width: none;/* aca no limita el tamaño del logo y el h2 */
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar{
        margin-top: 20px;
    }
    .main-navbar  li{
        margin: 0 10px;
    }
    .main-navbar  a{
        font-size: 19px;
    }
}
