header{
    padding:20px;
    box-shadow: 2px 2px 4px black;
    background-color: black/* var(--colorNegro) */;
}

.hamburguer-button .burger{
    background-color: var(--colorVerdeOscuro);
    color: var(--colorBlanco);
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

header .content-header .burger{
    color: var(--colorBlanco);
}

header .content-header .burger i{
    font-size: 2rem;
}

header .content-header .logo{
    width: 45%;
}

header .content-header .logo img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}

header .content-header .search{
    width: 50%;
}

header .content-header .search input{
    width:100%;
    padding: .8rem 0 .8rem 1rem;
    outline: none;
    border-radius: 5px;
    border: solid 1px var(--colorGris);
}
header .content-header .icons {
    font-size: 2rem;
    display: flex;
}

header .content-header .icons li{
    padding: .8rem;
}

header .content-header .nav-desktop{
    display:none;
}

header .content-header .nav-desktop ul li {}

header .content-header .nav-desktop ul li  a{}

 header img{
    padding: 10px;
    width: 50%;
} 
 header .top{
    display: flex;
    justify-content:space-around;
    justify-content: flex-start;
}
 

@media (min-width:768px){
    header .content-header .burger{
        display: none;
    }
    header .content-header .nav-desktop{
        display: block;
        width: 100%;
    }
    header .content-header .nav-desktop ul{
        display: flex;
        justify-content: space-between;
        border-top: solid 1px var(--colorGris);
    }
    header .content-header .nav-desktop ul li{
        padding: 1rem 0;
        width:20%;
        text-align: center;
    }
    header .content-header .nav-desktop ul li:hover{
        background-color: var(--colorVerdeOscuro);
    }
    header .content-header .nav-desktop ul li:hover a{
        color: var(--colorBlanco)
    }
}



/* Tablet */

@media (min-width:461px) {}

/* Desktop */

@media (min-width:769px) {}