.home header button{
    width: 50px;
    height: 50px;
    font-size: 35px;
    border: 1px 
}

.home header .logo{
    text-align: center;
}

.home header .logo img{
    width: 50%;
}

.home header .top{
    display: flex;
    flex-direction: row;
}

.home .top .carrito, .usuario{
    margin: 5px 5px 5px;
    font-size: 20px;
}

.home .search{
    text-align: center;
}