.home main{
    width: 90%;
    margin: 0 auto
}

.home main .banner img{
    width: 100%;
}

.home main .banner{
    display: none;
    padding: 30px 
}
.home main  article .ruta-detalle{
    color: var(--colorNegro);
    text-decoration: none;
}

.home main .ofertas{
    text-align: center;
    font-size: 20px;
    color: var(--colorNegro);
    margin-bottom: 30px
}

.home main .visto{
    text-align: center;
    font-size: 20px;
    color: var(--colorNegro);
    margin: 30px 30px
}

.home main section .producto{
    padding: 20px 0;
}

.home main section .heart{
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(194,120,156,0.9);
}

.home main section article{
    margin: 15px 0;
    position: relative;
    box-shadow: 0px 0px 10px var(--colorGris);
}

.home main section article img{
    width: 100%;
}

.home main section article .contenedor2{
    border-top: 1px solid var(--colorGris);
    padding: 15px;
}

.home main section article .descuento{
    color: var(--colorRosa);
    font-size: 16px;
}

.home main section article .descripcion{
    font-weight: bold;
    font-size: 16px;
}

.home main section article .precio{
    font-size: 20px;
}
.home .veo{
    font-family: var(--fuente-Inter);
    color: var(--colorNegro);
    text-align: center;
    margin: 30px 30px;
    font-size: 16px;
    letter-spacing: 16px;
    word-spacing: 8px;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.7);
}

/* Tablet */

@media (min-width: 426px){
.home main .banner{
        display: block;
        width: 100%
}

.home main section article{
    width: 40%;
    
}

.home main .section1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.home main .section2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.home main .section3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.home section .contenedor2{
    display: inline-block;
}

.home section article .heart, .precio, .descripcion{
    display: none;
}
}

/* Desktop */

@media (min-width: 769px){
    /* .home{
        max-width: 1180px;
    } */

    .home main section article{
    width: 20%;
}

.home main .section3 article{
    width: 40%;
} 

.home main .section1 article .image:hover .producto{
    position: relative;
    transform: scale(1.5);
    transition: all 0.5s;
    z-index: 10;
}

.home main .section2 article .image:hover .producto{
    position: relative;
    transform: scale(1.5);
    transition: all 0.5s;
    z-index: 10;
}

}