body header {
    width: 100%;
    box-shadow: 2px 2px 4px black;
    background-color: black/* var(--colorNegro) */;
    color: var(--colorBlanco);
}

body header .content-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    
}

body header .content-header .arrow{
    color: var(--colorBlanco);
  
}

body .create-form{
    padding: 20px 15px;
}

.control-formulario{
    margin-bottom: 15px;
}