body header {
    width: 100%;
    box-shadow: 2px 2px 4px black;
    background-color: black/* var(--colorNegro) */;
    color: var(--colorBlanco);
}

body header .content-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    
}

body header .content-header .arrow{
    color: var(--colorBlanco);
  
}

body .create-form{
    padding: 20px 15px;
}

body .control-formulario{
    margin-bottom: 15px;
}

body .control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
body .control-formulario .control{
    width: 100%;
    padding: 8px 8px;
}

.boton-formulario{
    background-color: var(--colorVerdeOscuro);
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}