/* Fuente a utilzar */
@importurl();


root:{
    /* Colores */
    --colorPrincipal:;

    /* Fuentes */
    --fuente-Fredoka: 'Fredoka', sans-serif;
    --fuente-fredoka-one:'Fredoka One', cursive;
    --fuente-Inter:'Inter', sans-serif;
    --fuente-Poppins:'Poppins', sans-serif;
}