<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Nosotros'}) %> 
<body>
    <section class="error">
    <img src="/images/dinosaurio.png" alt="">
    <h1>Lamentamos informarte que la pagina que estas buscando no existe todavia.</h1>
    </section>
    <div class="boton-inicio">
        <a href="/">INICIO</a>
    </div>
</body>
</html>