<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>
    <title>Mi carrito</title>
</head>
<body>
    <header>
        <div class="content-header">
            <div class="burger">
                <i class="fas fa-bars"></i>
        </div>

        <a href="/" class="logo">
            <img src="/images/SKULL-logo-sin-fondo.png" alt="logo skull tienda urbana" >
        </a>

        <form action=""  class="search">
            <input type="text" placeholder="¿Que estas buscando?">
        </form>

        <ul class="icons">
            <li><a href="/register"><i class="far fa-user"></i></a></li>
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#"><i class="fas fa-credit-card"></i></a></li>
            <li><a href="/carrito"><i class="fas fa-shopping-basket"></i></a></li>
        </ul>

        <nav class="nav-desktop">
            <ul>
                <li><a href="/">Categoria 1</a></li>
                <li><a href="/#">Categoria 2</a></li>
                <li><a href="/#">Categoria 4</a></li>
                <li><a href="/#">Categoria 5</a></li>
            </ul>

        </nav>
    </div>
    </header>
    <main>
        <section class="nav-carrito">
            <article class="back-carrito">
                <a href="/"><i class="fas fa-arrow-left"></i>Volver a la tienda</a>
            </article>
        <article class="tacho-carrito">
            <i class="fas fa-trash-alt"></i>
        </article>
    </section>
<section class="producto">
    
    <article class="imagen-carrito">
<img src="/images/tabla1.png" alt="">
    </article>
    <article class="interaccion-carrito">
    <div class="desc-carrito">
        <p>TABLA DE GUATAMBU</p>
        <p> SKULL DE 8.25 MM</p>
        </div>
    <div class="sumar-carrito">
            <div class="restar">-</div>
            <input type="number" value="1">
            <div class="agregar">+</div>
    </div>
</article>
</section>
<section class="precio">
    <h2>$15000</h2>
</section>
<section class="total">
    <article class="envio">
        <div class="suma-envio">
               <div> <input type="radio" name="seleccion">
            <label for="E">Envio al domicilio</label></div>
            <p>  +$600</p>
        </div>
        <div class="sin-envio">
            <input type="radio" name="seleccion">
            <label for="S">Retirar por el local</label>
        </div>
        <div class="descuento-carrito">
        <p class="porcentaje-descuento">Descuento 20%</p>
        <p class="total-descuento">$3000</p>
        </div>
            </div>
    </article>
    <article class="total-neto">
        <h2>TOTAL  :</h2>
        <h2>$12000</h2>
    </article>
</section>
<section class="boton-compra">
    <article class="detalle-carrito">
     <p>Estas a un click de vivir la experiencia</p>
    </article>
    <article class="comprar">
              <h2>COMPRAR</h2>
    </article>
</section>
    </main>
    <footer>
        <section class="nav-footer">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </section>
        <section class="icon-mapa">
            <article>
                <div class="mapa"><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1607031052203!5m2!1ses-419!2sar"
                        width=100% height=150px frameborder="0" style="border:2px solid black;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="desc">
                    <p>Cabildo y juramente</p>
                    <p>Cabildo 1400, piso 2</p>
                </div>
            </article>
            <article class="icons-footer">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </article>
            
        </section>
        <section class="logo-footer">
            <img src="/images/Skulll.png" alt="">
        </section>
    </footer>
</body>
</html>