<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>
    <title>Mi carrito</title>
</head>
<body>
    <main>
        <section class="nav-carrito">
            <article class="back-carrito">
                <a href="/"><i class="fas fa-arrow-left"></i>Volver a la tienda</a>
            </article>
        <article class="tacho-carrito">
            <i class="fas fa-trash-alt"></i>
        </article>
    </section>
<section class="producto">
    
    <article class="imagen-carrito">
<img src="/images/articulo.png" alt="">
    </article>
    <article class="interaccion-carrito">
    <div class="desc-carrito">
        <p>TABLA DE WATAMBU</p>
        <p> SKULL DE 8 MM</p>
        </div>
    <div class="sumar-carrito">
            <div class="restar">-</div>
            <input type="number">
            <div class="agregar">+</div>
    </div>
</article>
</section>
<section class="precio">
    <h2>$6000</h2>
</section>
<section class="total">
    <article class="envio">
        <div class="suma-envio">
               <div> <input type="radio" name="" id="F" value="F">
            <label for="F">Envio al domicilio</label></div>
            <p>  +$600</p>
        </div>
        <div class="sin-envio">
            <input type="radio" name="" id="M" value="M">
            <label for="M">Retirar por el local</label>
        </div>
            </div>
    </article>
    <article class="total-neto">
        <h2>TOTAL  :</h2>
    </article>
</section>
<section class="boton-compra">
    <article class="detalle-carrito">
     <p>Estas a un click de vivir la experiencia</p>
    </article>
    <article class="comprar">
              <h2>COMPRAR</h2>
    </article>
</section>
    </main>
    <footer>
        
    </footer>
</body>
</html>