<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>
    <title>Mi carrito</title>
</head>
<body>
    <main>
<section class="producto">
    <article class="imagen-carrito">
<img src="/images/IMG_20220716_165917_261.jpg" alt="">
    </article>
    <article class="desc-carrito">
        <p>TABLA DE WATAMBU</p>
        <p> SKULL DE 8 MM</p>
        <div class="sumar-carrito">
            <div class="restar">-</div>
            <input type="number">
            <div class="agregar">+</div>
        </div>
        <i class="fas fa-trash-alt"></i>
    </article>
    <article class="precio">
        <h2>$6000</h2>
    </article>
</section>
<section class="total">
    <article class="envio">
        <div class="bottom">
            <input type="radio" name="" id="F" value="F">
            <label for="F">Envio al domicilio</label>
            <input type="radio" name="" id="M" value="M">
            <label for="M">Retirar por el local</label>
        </div>
    </article>
    <article class="total-neto">
        <h2>TOTAL  :</h2>
    </article>
</section>
<section class="boton-compra">
    <article>
     <p>Estas a un click de vivir la experiencia</p>
    </article>
    <article class="comprar">
              <h2>COMPRAR</h2>
    </article>
</section>
    </main>
    <footer>
        
    </footer>
</body>
</html>