<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Producto</title>
     <!-- CSS -->
     <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="detalle">          
<header>


</header>
<main>
    <section>
        <div class="Img-principal">
            <img src="" alt="">
        </div>
        <div class="img-secundarias">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <section>

        </section>
    </section>

</main>

    
</body>
</html>