<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header><!-- Esto es lo primero que devemos armar -->
        <div class="top">
            <div class="burger">
                <i class="fas fa-align-justify"></i>
            </div>
            <div class="logo">
                <img src="/images/logo-Skull-tienda-urbana.jpeg" alt="logo">
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="usuario">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </header>
    <main>
        
    </main>

    <footer><!-- Esto es lo primero que devemos armar -->

    </footer>
</body>
</html>