<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header class="header">
        <div class="content-header">
            <div class="burger">
                <i class="fas fa-bars"></i>
        </div>

        <a href="/" class="logo">
            <img src="/images/SKULL-logo-sin-fondo.png" alt="logo skull tienda urbana" >
        </a>

        <form action=""  class="search">
            <input type="text" placeholder="¿Que estas buscando?">
        </form>

        <ul class="icons">
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/register"><i class="far fa-user"></i></a></li>
            <li><a href="#"><i class="fas fa-heart"></i></a></li>
            <li><a href="/carrito"><i class="fas fa-shopping-basket"></i></a></li>
        </ul>

        <nav class="nav-desktop">
            <ul>
                <li><a href="/">Skates</a></li>
                <li><a href="/#">Longboars</a></li>
                <li><a href="/#">Accesorios</a></li>
                <li><a href="/#">Armar mi skate</a></li>
            </ul>

        </nav>
    </div>
    </header>
    <main>
        <div class="banner">
        <img src="/images/banner (2).png" alt="banner">
    </div>
    <h3 class="ofertas">OFERTAS</h3>
    <section class="section1">
        <article>
            
            <div class="image">
            <img class="producto" src="/images/hanta-cenital-para-web-v1.jpg" alt="longboard">
        </div>
            <div class="contenedor2">
                <div class="heart"><i class="far fa-heart"></i></div>
                <p class="precio">$23.899</p>
                <p class="descuento">33% OFF</p>
                <p class="descripcion">Hanta Longboard</p>
            </div>
        </article>
        <article>
        <a class="ruta-detalle" href="/detalle">
            <div class="image">
            <img class="producto" src="/images/DARK-SKULL-WEB-LQ-COMPLETO.jpg" alt="skate">
            <div class="contenedor2">
                <div class="heart"><i class="far fa-heart"></i></div>
                <p class="precio">$15000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion">Skate Dark Skull</p>
            </div>
        </a>
            </div>
        </article>
        <article>
            <div class="image">
            <img class="producto" src="/images/jungle.png" alt="skate">
            <div class="contenedor2">
                <div class="heart"><i class="far fa-heart"></i></div>
                <p class="precio">$15.899</p>
                <p class="descuento">33% OFF</p>
                <p class="descripcion">Skate Jungle</p>
            </div>
            </div>
        </article>
        <article>
            <div class="image">
            <img class="producto" src="/images/SPOCK-FULL-1.jpg" alt="longboard">
            <div class="contenedor2">
                <div class="heart"><i class="far fa-heart"></i></div>
                <p class="precio">$22.000</p>
                <p class="descuento">33% OFF</p>
                <p class="descripcion">Longboard SPOCK</p>
            </div>
            </div>
        </article>
        </section>
        <h3 class="visto">LO MÁS VISTO</h3>
    <section class="section2">
    <article>
        <div class="image">
        <img class="producto" src="/images/hanta-cenital-para-web-v1.jpg" alt="longboard">
        <div class="contenedor2">
            <div class="heart"><i class="far fa-heart"></i></div>
            <p class="precio">$23.899</p>
            <p class="descuento">33% OFF</p>
            <p class="descripcion">Hanta Longboard</p>
        </div>
        </div>
    </article>
    <article>
        <a class="ruta-detalle" href="/detalle">
        <div class="image">
        <img class="producto" src="/images/DARK-SKULL-WEB-LQ-COMPLETO.jpg" alt="skate">
        <div class="contenedor2">
            <div class="heart"><i class="far fa-heart"></i></div>
            <p class="precio">$15000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripcion">Skate Dark Skull</p>
        </div>
        </div></a>
    </article>
    <article>
        <div class="image">
        <img class="producto" src="/images/jungle.png" alt="skate">
        <div class="contenedor2">
            <div class="heart"><i class="far fa-heart"></i></div>
            <p class="precio">$15.899</p>
            <p class="descuento">33% OFF</p>
            <p class="descripcion">Skate Jungle</p>
        </div>
        </div>
    </article>
    <article>
        <div class="image">
        <img class="producto" src="/images/SPOCK-FULL-1.jpg" alt="longboard">
        <div class="contenedor2">
            <div class="heart"><i class="far fa-heart"></i></div>
            <p class="precio">$22.000</p>
            <p class="descuento">33% OFF</p>
            <p class="descripcion">Longboard SPOCK</p>
        </div>
        </div>
    </article>
</section>
<h3 class="veo">LO VEO, LO QUIERO</h3>
<section class="section3">
    <article>
        <div class="img_producto">
        <img src="/images/categoria-longboard.png" alt="categoria-longboard">
        </div>
    </article>
    <article>
        <div class="img_producto">
            <img src="/images/categoria-accesorios.png" alt="categoria-accesorios">
        </div>
    </article>
    <article>
        <div class="img_producto">
            <img src="/images/categoria-arma.png" alt="categoria-arma">
        </div>
    </article>
    <article>
        <div class="img_producto">
            <img src="/images/categoria-skate.png" alt="">
        </div>
    </article>
</section>

</main>
    <footer>

        <section class="nav-footer">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/detalle">Productos</a></li>
            </ul>
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </section>
        <section class="icon-mapa">
            <article>
                <div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18587.111997850538!2d-58.46426189106587!3d-34.55942309717018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb54e15209c61%3A0x1a8e0c51280a254a!2scabildo%20500!5e0!3m2!1ses-419!2sar!4v1658589663946!5m2!1ses-419!2sar" width="100%" height="150px" style="border:2px solid var(--colorVerdeOscuro)" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="desc">
                    <p>Cabildo y juramente</p>
                    <p>Cabildo 1400, piso 2</p>
                </div>
            </article>
            <article class="icons-footer">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fas fa-play-circle"></i></a></li>
                </ul>
            </article>

        </section>
        <section class="logo-footer">
            <img src="/images/Skulll.png" alt="">
        </section>
    </footer>
</body>

</html>