<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skull Tienda Urbana</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d49114eee8.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header>
    <div class="top">
        <button> <i class="fas fa-align-justify"></i> </button>    
        <div class="logo">
            <img src="/images/logo-Skull-tienda-urbana.jpeg" alt="logo">
        </div>
        <div class="carrito">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="usuario">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
    <div class="search">
        <input type="text" placeholder="Buscar productos,marcas" required><i class="fas fa-search"></i>
    </div>
    <div><img src="/images/banner (2).png" alt="banner"></div>
    </header>

    <footer><!-- Esto es lo primero que devemos armar -->

    </footer>
</body>
</html>