<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{title: 'Home'}) %> 
   

<body class="home">
    <%- include('./partials/header') %>
 
    <main>
        <div class="banner">
        <img src="/images/banner (2).png" alt="banner">
    </div>
    <h3 class="ofertas">OFERTAS</h3>
    <section class="section1">
        <article>
            
            <div class="image">
            <img class="producto" src="/images/longboards/lab/lab-producto1.jpg" alt="longboard">
        </div>
            <div class="contenedor2">
                <div class="heart"><i class="far fa-heart"></i></div>
                <p class="precio">$23.899</p>
                <p class="descuento">33% OFF</p>
                <p class="descripcion">Hanta Longboard</p>
            </div>
        </article>
        <article>
        <a class="ruta-detalle" href="/productos/detalle">
            <div class="image">
            <img class="producto" src="/images/skates/lab/lab-producto1.jpg" alt="skate">
            <div class="contenedor2">
                <div class="heart"><i class="far fa-heart"></i></div>
                <p class="precio">$15000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion">Skate Dark Skull</p>
            </div>
        </a>
            </div>
        </article>
        <article>
            <div class="image">
            <img class="producto" src="/images/skates/lab/lab-producto2.png" alt="skate">
            <div class="contenedor2">
                <div class="heart"><i class="far fa-heart"></i></div>
                <p class="precio">$15.899</p>
                <p class="descuento">33% OFF</p>
                <p class="descripcion">Skate Jungle</p>
            </div>
            </div>
        </article>
        <article>
            <div class="image">
            <img class="producto" src="/images/longboards/lab/lab-producto2.jpg" alt="longboard">
            <div class="contenedor2">
                <div class="heart"><i class="far fa-heart"></i></div>
                <p class="precio">$22.000</p>
                <p class="descuento">33% OFF</p>
                <p class="descripcion">Longboard SPOCK</p>
            </div>
            </div>
        </article>
        </section>
        <h3 class="visto">LO MÁS VISTO</h3>
    <section class="section2">
    <article>
        <div class="image">
        <img class="producto" src="/images/longboards/lab/lab-producto1.jpg" alt="longboard">
        <div class="contenedor2">
            <div class="heart"><i class="far fa-heart"></i></div>
            <p class="precio">$23.899</p>
            <p class="descuento">33% OFF</p>
            <p class="descripcion">Hanta Longboard</p>
        </div>
        </div>
    </article>
    <article>
        <a class="ruta-detalle" href="/productos/detalle">
        <div class="image">
        <img class="producto" src="/images/skates/lab/lab-producto1.jpg" alt="skate">
        <div class="contenedor2">
            <div class="heart"><i class="far fa-heart"></i></div>
            <p class="precio">$15000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripcion">Skate Dark Skull</p>
        </div>
        </div></a>
    </article>
    <article>
        <div class="image">
        <img class="producto" src="/images/skates/lab/lab-producto2.png" alt="skate">
        <div class="contenedor2">
            <div class="heart"><i class="far fa-heart"></i></div>
            <p class="precio">$15.899</p>
            <p class="descuento">33% OFF</p>
            <p class="descripcion">Skate Jungle</p>
        </div>
        </div>
    </article>
    <article>
        <div class="image">
        <img class="producto" src="/images/longboards/lab/lab-producto2.jpg" alt="longboard">
        <div class="contenedor2">
            <div class="heart"><i class="far fa-heart"></i></div>
            <p class="precio">$22.000</p>
            <p class="descuento">33% OFF</p>
            <p class="descripcion">Longboard SPOCK</p>
        </div>
        </div>
    </article>
</section>
<h3 class="veo">LO VEO, LO QUIERO</h3>
<section class="section3">
    <article>
        <div class="img_producto">
        <img src="/images/categoria-longboard.png" alt="categoria-longboard">
        </div>
    </article>
    <article>
        <div class="img_producto">
            <img src="/images/categoria-accesorios.png" alt="categoria-accesorios">
        </div>
    </article>
    <article>
        <div class="img_producto">
            <img src="/images/categoria-arma.png" alt="categoria-arma">
        </div>
    </article>
    <article>
        <div class="img_producto">
            <img src="/images/categoria-skate.png" alt="">
        </div>
    </article>
</section>

</main>
<%- include('./partials/footer') %> 
    
</body>

</html>