<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="content-header">
            <div ="arrow">
                <p><i class="fas fa-arrow-left"></i> atras</p>
            </div>
            
        <a href="/" class="logo">
            <img src="/images/SKULL-logo-sin-fondo.png" alt="logo skull tienda urbana" >
        </a>
    </div>
    </header>
    <main>
        <p>¡Inicie sesión para comprar productos, agregarlos a su lista de deseos y seguir sus marcas favoritas!</p>
        <form action="" method="post" class="create-form">
            <div class="control-formulario">
            <label>Correo Electronico</label>
            <input type="email" name="email" minlength="1" placeholder="Introduzca la dirección de correo electrónico" autocomplete="current-email" value="" class="control">
            </div>
            <div class="control-formulario">
            <label>Contraseña</label>
            <input type="password"  name="password" placeholder="Ingresa tu contraseña" autocomplete="current-password" value="" class="control">
            </div>
            <button type="submit"  class="boton-formulario">Iniciar Sesión</button>
        </form>

        <p>¿Te olvidaste la contraseña?</p>
        <p>Al suscribirte y/o crear una cuenta a través de Facebook, Google y/o Apple, aceptas los Términos y condiciones de SKULL Tienda urbana y  la Política de privacidad</p>
    </main>
</body>
</html>