<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="content-header">
            <div ="arrow">
                <p><i class="fas fa-arrow-left"></i> atras</p>
            </div>
            
        <a href="/" class="logo">
            <img src="/images/SKULL-logo-sin-fondo.png" alt="logo skull tienda urbana" >
        </a>
    </div>
    </header>
    <main>
        <p>¡Inicie sesión para comprar productos, agregarlos a su lista de deseos y seguir sus marcas favoritas!</p>
        <form action="" method="post">
            <input type="email" name="email" minlength="1" placeholder="Introduzca la dirección de correo electrónico" autocomplete="current-email" value="">
            <input type="password" class="form__input form-logo-input form-logo-padding-input" id="password" name="password" placeholder="Ingresa tu contraseña" autocomplete="current-password" value="">
        </form>
        <button type="submit" >Iniciar Sesión</button>
    </main>
</body>
</html>