<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <script src="https://kit.fontawesome.com/360f664bcf.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="content-header">
            <div class="burger">
                <i class="fas fa-bars"></i>
        </div>

        <a href="/" class="logo">
            <img src="/images/SKULL-logo-sin-fondo.png" alt="logo skull tienda urbana" >
        </a>

        <form action=""  class="search">
            <input type="text" placeholder="¿Que estas buscando?">
        </form>

        <ul class="icons">
            <li><a href="/register"><i class="far fa-user"></i></a></li>
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#"><i class="fas fa-credit-card"></i></a></li>
            <li><a href="/carrito"><i class="fas fa-shopping-basket"></i></a></li>
        </ul>

        <nav class="nav-desktop">
            <ul>
                <li><a href="/">Skates</a></li>
                <li><a href="/#">Longboars</a></li>
                <li><a href="/#">Accesorios</a></li>
                <li><a href="/#">Armar mi skate</a></li>
            </ul>

        </nav>
    </div>
    </header>
    <main>
        <div class="parrafo-form">
            <p>¡Inicie sesión para comprar productos, agregarlos a su lista de deseos y seguir sus marcas favoritas!</p>
        </div>
        <form action="" method="post" class="create-form">
            <div class="control-formulario">
            <label>Correo Electronico</label>
            <input type="email" name="email" minlength="1" placeholder="Introduzca la dirección de correo electrónico" autocomplete="current-email" value="" class="control">
            </div>
            <div class="control-formulario">
            <label>Contraseña</label>
            <input type="password"  name="password" placeholder="Ingresa tu contraseña" autocomplete="current-password" value="" class="control">
            </div>
            <button type="submit"  class="boton-formulario">Iniciar Sesión</button>
        </form>


        <div class="parrafo-form">
            <p>¿Te olvidaste la contraseña?</p>
            <p>Al suscribirte y/o crear una cuenta a través de Facebook, Google y/o Apple, aceptas los Términos y condiciones de SKULL Tienda urbana y  la Política de privacidad</p>
        </div>
        
    </main>
</body>
</html>