<footer>

    <section class="nav-footer">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos/detalle">Productos</a></li>
        </ul>
        <ul>
            <li><a href="/about/about">Nosotros</a></li>
            <li><a href="/contacto/contacto">Contacto</a></li>
        </ul>
    </section>
    <section class="icon-mapa">
        <article>
            <div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18587.111997850538!2d-58.46426189106587!3d-34.55942309717018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb54e15209c61%3A0x1a8e0c51280a254a!2scabildo%20500!5e0!3m2!1ses-419!2sar!4v1658589663946!5m2!1ses-419!2sar" width="100%" height="150px" style="border:2px solid var(--colorVerdeOscuro)" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="desc">
                <p>Cabildo y juramente</p>
                <p>Cabildo 1400, piso 2</p>
            </div>
        </article>
        <article class="icons-footer">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fas fa-play-circle"></i></a></li>
            </ul>
        </article>

    </section>
    <section class="logo-footer">
        <img src="/images/Skulll.png" alt="">
    </section>
</footer>