<header class="header">
    <div class="content-header">
        <div class="burger">
            <i class="fas fa-bars"></i>
    </div>

    <a href="/" class="logo">
        <img src="/images/SKULL-logo-sin-fondo.png" alt="logo skull tienda urbana" >
    </a>

    <form action=""  class="search">
        <input type="text" placeholder="¿Que estas buscando?">
    </form>

    <ul class="icons">
        <li><a href="/usuarios/login"><i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/usuarios/register"><i class="far fa-user"></i></a></li>
        <li><a href="#"><i class="fas fa-heart"></i></a></li>
        <li><a href="/productos/carrito"><i class="fas fa-shopping-basket"></i></a></li>
    </ul>

    <nav class="nav-desktop">
        <ul>
            <li><a href="/">Skates</a></li>
            <li><a href="/#">Longboars</a></li>
            <li><a href="/#">Accesorios</a></li>
            <li><a href="/#">Armar mi skate</a></li>
        </ul>

    </nav>
</div>
</header>