<header class="header">
    <div class="content-header">
        <div class="burger">
            <i class="fas fa-bars"></i>
    </div>

    <a href="/" class="logo">
        <img src="/images/SKULL-logo-sin-fondo.png" alt="logo skull tienda urbana" >
    </a>

    <form action=""  class="search">
        <input type="text" placeholder="¿Que estas buscando?">
    </form>

    <ul class="icons">
<%if (locals.usuarioIngresar) { %>
    <li><a href="usuarios/perfil">Bienvenido <%= locals.usuarioIngresar.nombre  %> </a></li>
    <%} else {%>
        <li><a href="/usuarios/ingresar"><i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/usuarios/registro"><i class="far fa-user"></i></a></li>
   <% } %>
        
        <li><a href="#"><i class="fas fa-heart"></i></a></li>
        <li><a href="/productos/carrito"><i class="fas fa-shopping-basket"></i></a></li>
    </ul>

    <nav class="nav-desktop">
        <ul>
            <li><a href="/productos/skates">Skates</a></li>
            <li><a href="/productos/longboards">Longboars</a></li>
            <li><a href="/productos/accesorios">Accesorios</a></li>
            <li><a href="/productos/partes">Armar mi skate</a></li>

          
            <%if (locals.usuarioIngresar && locals.usuarioIngresar.rol === "admin") { %>
                <li><a href="/administrador/listar">Admin</a></li>
                <%} %>
            
        </ul>

    </nav>
</div>
</header>